APP_NAME=Secure Messaging API
APP_ENV=development
DATABASE_URL=postgresql+asyncpg://secure_app_user:change_me@localhost:5432/secure_messages
TEST_DATABASE_URL=postgresql+asyncpg://secure_app_test_user:change_me@localhost:5432/secure_messages_test
LOG_LEVEL=INFO
